/* You can add global styles to this file, and also import other style files */
.ant-btn:focus, .ant-btn:hover {
    color: black;
    border-color: black;
}

.ant-modal-header {
    border-radius: 10px;
}

.ant-modal-content  {
    border-radius: 10px;
}

.ant-input-affix-wrapper{
    width: 40%;
}

.ant-btn-primary {
    border-color: black;
    background-color: black;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: black;
    color: white;
}

.ant-menu-submenu-selected {
    color: black;
}

.ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: black;
}

.ant-menu-inline .ant-menu-item::after, .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid black;
}